//###### VARIABLES ######
$neon: #800E0B;
$flux: #082180;

//###### GENERAL ######
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, black, $neon,black, $flux, black);
  background-size: 400% 100%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

//###### BUSQUEDA ######
.search {
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 5vw;

  input {
    color: white;
    width: 80vw;
    font-size: 3vw;
  }

  //###### LOGO ######
  .neon {
    font-family: "Righteous", cursive;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
  }

  .flux {
    font-family: "Righteous", cursive;
    color: #426DFB;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
    margin-bottom: 5vw;
  }
}

//###### ANIMACION LOGO ######
.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw $neon, 0 0 1.5vw $neon, 0 0 5vw $neon, 0 0 5vw $neon, 0 0 .2vw $neon, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw $flux, 0 0 1.5vw $flux, 0 0 5vw $flux, 0 0 5vw $flux, 0 0 .2vw $flux, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

//###### GAMES ######
ul {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 5vw;
  margin-bottom: 5vw;
  display: inline-block;
  width: 18.75%;
  list-style: none;
  border-radius: 4vw;
  background-image: linear-gradient(135deg, rgba($neon,.8), rgba(0,0,0,0), rgba(255,255,255,0), rgba(0,0,0,0), rgba($flux,.8));
  background-repeat: no-repeat;

  .content {
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

    div {
      padding-left: 1vw;
      padding-right: 1vw;
    }

    .content-title{
      height: 5.5vw;
      display:flex;
      justify-content: center;
      margin-bottom: 1vw;
      overflow: hidden;
      
      h5 {
        color: white;
        font-size: 2vw;
      }
    }

    .content-image img {
      width: 100%;
      border-radius: 4vw 0px 4vw 0px;
      opacity: 1;
      transition: .2s ease;
      backface-visibility: hidden;
    }
  }

  .content:hover img {
    opacity: 0.5;
  }
}

//###### CASOS ######
// 1 Juego
li:first-child:nth-last-child(1) {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80%;
  .content {
    padding-top: 10vw;
    padding-bottom: 10vw;

    .content-title{
      height: 8vw;
    }

    h5 {
      font-size: 4vw;
    }
  
    div {
      padding-left: 10vw;
      padding-right: 10vw;
    }
  }
}

// Multiplos de 3 Juegos
li:first-child:nth-last-child(3n+0),
li:first-child:nth-last-child(3n+0) ~ li {
  width: 26.666%;
  .content {
    padding-top: 4vw;
    padding-bottom: 4vw;

    .content-title{
      height: 6vw;
    }

    h5 {
      font-size: 2vw;
    }
  
    div {
      padding-left: 4vw;
      padding-right: 4vw;
    }
  }
}

// 2 y 4 Juegos
li:first-child:nth-last-child(2),
li:first-child:nth-last-child(2) ~ li,
li:first-child:nth-last-child(4),
li:first-child:nth-last-child(4) ~ li {
  width: 42.5%;
  .content {
    padding-top: 3vw;
    padding-bottom: 3vw;

    h5 {
      font-size: 3vw;
    }
  
    div {
      padding-left: 3vw;
      padding-right: 3vw;
    }
  }
}

//###### CREACION ######
.created {
  color: #757575;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4vw;
  svg {
    width: 2vw;
    align-self: flex-end;
  }
  a, i{
    text-decoration: none; 
    color: #fe612c;
  }
}